@font-face {
    font-family: GGSans;
    src: url(GGSans.woff2);
}

button { 
    all: unset;
    cursor: pointer;
    transition: .3s;
    filter: brightness(100%); 
}

button:hover {
    filter: brightness(75%);
}


body {
    font-family: GGSans;
    background-color: #363940;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    border-left: 4px solid #959af4;
}

input {
    background-color: #484d53;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    color: rgb(168, 168, 168);
    -moz-appearance:textfield; /* Firefox */
}

input:focus {
    color: white;
    outline: none;
}

.calculator-container {
    /* height: 98vh; */
    display: flex;
    gap: 100px;
    overflow: hidden;
    flex-wrap: wrap;
    column-gap: 130px;
    justify-content: center;
}

.calculator {
    border: 1px solid blue;
    
}

.align-txt {
    text-align: center;
}

.strong-font {
    font-weight: 600;
}

button {
    position: relative;
    top: 3px;
    left: 2px
}

.checkbox-off {
    position: relative;
    top: 5px;
    left: 4px
}

.checkbox-on {
    position: relative;
    top: 5px;
    left: 4px
}

.checkbox-btn {
    all: unset;
    cursor: pointer;
}



a {
    color: rgb(0, 0, 0);
}

/* a:hover {
    color: rgb(54, 54, 54);
} */



.discord {
    height: 64px;
    width: 64px;
    background-image: url("discord.jpeg");
    background-size: 64px 64px;
    border-radius: 50%;
    position: fixed;
    bottom: 1;
    right: 1;
    margin: 10px;
    transition: background-size .7s, height .7s, width .7s;
}

.discord:hover {
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    cursor:pointer;
}